@import url(reset.css);
@import url(fonts/fonts.css);

body{
    min-width: 1920px;
    background: #171717;
}
header{
    display: block;
    width: 1464px;
    margin: auto;
    margin-top: 46px;
}
main{
    display: block;
    width: 1464px;
    margin: auto;
    margin-top: 120px;
}
header .btn{
    display: flex;
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    float: right;
    text-decoration: none;
}
.call{
    color: #E4B564;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    margin-left: 10px;
}
.img_block{
    margin: auto 0 auto 26px;
}
h1{
    height: 28px;

    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;

    color: #FFFFFF;    
}
main h2{
    height: 56px;
    margin-top: 40px;

    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
}
.wrapper-1{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(6, 217px);
    grid-column-gap: 34px;
    grid-row-gap: 27px;
}
.wrapper-1 div{
    position: relative;
    height: 467px;
}
.wrapper-1 div p{
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    top:50%;
    transform: translate(0, -50%)
}
.wrapper-1 .block-1{
    background-color: #634F2C;
    grid-column: 1/3;
}
.wrapper-1 .block-2 {
    background-color: #B4A385;
    grid-column: 3/5;
}

.wrapper-1 .block-3 {
    background-color: #E4B564;
    grid-column: 5/7;
}
.wrapper-1 .block-4 {
    background-color: #635A4A;
    grid-column: 1/4;
}
.wrapper-1 .block-5 {
    background-color: #B08C4D;
    grid-column: 4/7;
}

.wrapper-2{
    display: grid;
    margin-top: 94px;
    grid-template-columns: repeat(3, 467px);
    grid-column-gap: 30px;
}

.wrapper-2 p{
    margin: 50px 0px 0px 50px;
    font-family: 'Gilam';
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
}

.wrapper-2 .block-1{
    color: white;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.wrapper-2 .block-1 .block-1-flex{
    background-color: #0E0E0E;
    height: 313px;
}
.wrapper-2 .block-1 .block-2-flex{
    background-color: #1F1F1F;
    height: 560px;
}


.wrapper-2 .block-2{
    color: white;
    display: flex;
    gap: 33px;
    flex-direction: column;
}
.wrapper-2 .block-2 .block-1-flex{
    background-color: #1F1F1F;
    height: 439px;
}
.wrapper-2 .block-2 .block-2-flex{
    background-color: #E4B564;
    color: black;
    height: 405px;
}


.wrapper-2 .block-3{
    color: white;
    display: flex;
    gap: 26px;
    flex-direction: column;
}
.wrapper-2 .block-3 .block-1-flex{
    background-color: #1F1F1F;
    height: 255px;
}
.wrapper-2 .block-3 .block-2-flex{
    background-color: #0E0E0E;
    height: 313px;
}
.wrapper-2 .block-3 .block-3-flex{
    background-color: #0A0909;
    height: 277px;
}


.companies{
    width: 1920px;
    height: 1054px;
    background: #0E0E0E;
    margin:191px auto auto auto;
}
.wrap{
    width: 1464px;
    margin: auto;
    padding-top:172px;
}

.wrap .head .btn{
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    float: right;
    margin-top: -40px;
}
.wrap .head .btn a{
    text-decoration: none;
    color: #E4B564;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    padding:0px 58px;
}

.clients-wrapper
{
    margin-top:72px;
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(3, 391px);
    
}
.block-2 .block{
    display: block;
    margin: auto;
    width: 316px;
    margin-top: 61px;
}
.clients-wrapper .block-2 p{
    font-family: 'Gilam';
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    /* or 127% */

    text-align: center;

    color: #FFFFFF;
}